<!DOCTYPE html>
<html lang="es" ng-app="empleadosApp">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Gestión de Empleados</title>

    <!-- Materialize CSS -->
    <link
        rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    >

    <!-- Nuestros estilos -->
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>

    <div class="container" ng-controller="EmpleadoController">

        <h3 class="center-align">
            Gestión de Empleados
        </h3>

        <p class="center-align grey-text">
            Registro y administración de empleados
        </p>

        <!-- Mensaje de error -->
        <div
            class="card-panel"
            ng-if="mensaje"
            ng-class="tipoMensaje === 'success'
                ? 'green lighten-2 white-text'
                : 'red lighten-2 white-text'"
        >
            {{ mensaje }}
        </div>

        <!-- Tabla de empleados -->
        <div class="card">

            <div class="card-content">

                <span class="card-title">
                    Lista de empleados
                </span>

                <table class="striped responsive-table">

                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>Cargo</th>
                            <th>Oficina</th>
                            <th>Salario</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>

                    <tbody>

                        <tr ng-repeat="empleado in empleados">

                            <td>
                                {{ empleado.name }}
                            </td>

                            <td>
                                {{ empleado.position }}
                            </td>

                            <td>
                                {{ empleado.office }}
                            </td>

                            <td>
                                ${{ empleado.salary }}
                            </td>

                            <td>

                                <button
                                    class="btn-small blue"
                                    ng-click="editarEmpleado(empleado)"
                                >
                                    Editar
                                </button>
                        
                                <button
                                    class="btn-small red"
                                    ng-click="eliminarEmpleado(empleado)"
                                >
                                    Eliminar
                                </button>
                        
                            </td>

                        </tr>

                    </tbody>

                </table>

            </div>

        </div>


        <!-- Formulario de edición -->
        <div
            class="card"
            ng-if="editando"
        >

            <div class="card-content">

                <span class="card-title">
                    Editar empleado
                </span>

                <div class="row">

                    <div class="input-field col s12 m6">

                        <input
                            type="text"
                            id="editName"
                            ng-model="empleadoEditado.name"
                        >

                        <label class="active" for="editName">
                            Nombre
                        </label>

                    </div>


                    <div class="input-field col s12 m6">

                        <input
                            type="text"
                            id="editPosition"
                            ng-model="empleadoEditado.position"
                        >

                        <label class="active" for="editPosition">
                            Cargo
                        </label>

                    </div>


                    <div class="input-field col s12 m6">

                        <input
                            type="text"
                            id="editOffice"
                            ng-model="empleadoEditado.office"
                        >

                        <label class="active" for="editOffice">
                            Oficina
                        </label>

                    </div>


                    <div class="input-field col s12 m6">

                        <input
                            type="number"
                            id="editSalary"
                            ng-model="empleadoEditado.salary"
                        >

                        <label class="active" for="editSalary">
                            Salario
                        </label>

                    </div>

                </div>

                <button
                    class="btn blue"
                    ng-click="actualizarEmpleado()"
                >
                    Guardar cambios
                </button>

                <button
                    class="btn grey"
                    ng-click="cancelarEdicion()"
                >
                    Cancelar
                </button>

            </div>

        </div>

        <!-- Formulario de registro -->
        <div class="card">

            <div class="card-content">

                <span class="card-title">
                    Registrar empleado
                </span>

                <div class="row">

                    <!-- Nombre -->
                    <div class="input-field col s12 m6">
                        <input
                            type="text"
                            id="name"
                            ng-model="nuevoEmpleado.name"
                        >
                        <label for="name">Nombre</label>
                    </div>

                    <!-- Cargo -->
                    <div class="input-field col s12 m6">
                        <input
                            type="text"
                            id="position"
                            ng-model="nuevoEmpleado.position"
                        >
                        <label for="position">Cargo</label>
                    </div>

                    <!-- Oficina -->
                    <div class="input-field col s12 m6">
                        <input
                            type="text"
                            id="office"
                            ng-model="nuevoEmpleado.office"
                        >
                        <label for="office">Oficina</label>
                    </div>

                    <!-- Salario -->
                    <div class="input-field col s12 m6">
                        <input
                            type="number"
                            id="salary"
                            ng-model="nuevoEmpleado.salary"
                        >
                        <label for="salary">Salario</label>
                    </div>

                </div>

                <button
                    class="btn blue"
                    ng-click="crearEmpleado()"
                >
                    Registrar empleado
                </button>

            </div>

        </div>

    </div>


    <!-- AngularJS -->
    <script
        src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js">
    </script>

    <!-- Materialize JS -->
    <script
        src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js">
    </script>

    <!-- Nuestra aplicación -->
    <script src="js/app.js"></script>

</body>

</html>